body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(image.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#clock{
    font-size: 100px;
    color: white;
    text-align: center;
    margin-top: 200px;
    backdrop-filter: blur(10px);
    background-color: hsla(208, 82%, 85%, 0.13);
}